* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background-color: #FAEBD7;
    color: #333;
    line-height: 1.6;
}

body {
    border: 5px solid #333; /* Adds a border around the entire body */
    display: flex;
    flex-direction: column; /* Keeps content vertically aligned */
    justify-content: flex-start; /* Aligns content to the top */
    align-items: center; /* Centers content horizontally */
    padding: 20px; /* Adds some spacing inside the border */
}

section#about {
    width: 60%; /* Adjust the width as needed */
    margin: 0 auto; /* This centers the section */
    padding: 20px; /* Optional padding for visual spacing */
    text-align: left; /* Optional: if you want the text aligned to the left within the centered section */
    display: block; /* This switches the display from flex to block, which respects the width and margin */
}


header {
    width: 100%; /* Ensures the header spans the full width of the body */
    background-color: #FFC0CB;
    padding: 20px 0;
    text-align: center; /* Centers header content */
}

header h1, header h3 {
    margin: 0;
    color: #333;
}

nav ul {
    list-style: none;
    background-color: transparent;
    padding: 10px 0;
    text-align: center; /* Centers the navigation links */
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #D2691E;
}

section {
    width: 100%; /* Ensures sections span the full width */
    text-align: center; /* Centers section content */
    padding: 20px 10px;
    margin-bottom: 20px;
}

button {
    background-color: #FFC0CB;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #FF69B4;
    color: #fff;
}
