* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Georgia', serif;
    background-color: #FAEBD7;
    color: #333;
    line-height: 1.6;
}

header, section {
    width: 100%; /* You can adjust this width as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #FFC0CB;
    padding: 20px 0;
}

header h1, header h3 {
    margin: 0;
    color: #333;
}

nav ul {
    list-style: none;
    background-color: transparent;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #D2691E;
}

section {
    padding: 20px 10px;
    margin-bottom: 20px;
}

button {
    background-color: #FFC0CB;
    color: #333;
    padding: 10px 20px;
    border: none; /* Removed border to match background color */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #FF69B4;
    color: #fff;
}
